// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #1F2041;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

//Colors & Type
$dark-shade              : #1F2041;
$dark-shade-100          : 1;
$dark-shade-75           : 0.75;
$dark-shade-50           : 0.5;
$dark-shade-25           : 0.25;
$dark-shade-5            : 0.05;

$purple                  : #BC9CFF;
$green                   : #6FCF97;

